<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
We are excited to organize the first world-wide conference on December 9-10 for researchers who have a focus on pangenomics free and open source software development
</p>

<p>The meeting will be fully online, with mornings (Central European time zone)
sessions dedicated to hacking, virtally taking place at University of Milano -
Bicocca, Milano, Italy.  Talks are either early morning (Asia time zones) or
evening (USA time zones).
</p>

<p>
    Participation is free, but registration is required.
</p>
