<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>

<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}">
<a href="https://www.openstreetmap.org/way/318383404">
<img alt="U4 Map" src="/img/map-u4-scaled.png"
height="300">
</div>

<p><a href="https://en.unimib.it/reach-us/how-reach-us">How to reach us</a></p>